* {
  margin: 0%;
  padding: 0;
  font-family: monospace;
  color: whitesmoke;
}

.titulo {
  text-align: center;
  margin: 0.5%;
  font-size: 30px;
}

ol {
  margin-left: 1%;
  margin-right: 1%;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
  margin: 0 0 0 1.5em;
}

.lista a{
  position: relative;
  display: block;
  padding: .2em .2em .2em 2em;
  *padding: .4em;
  margin: .5em;
  margin-left: 1.5%;
  background: #2b2a2a;
  color: whitesmoke;
  border: 2.5px solid whitesmoke;
  text-decoration: none;
  border-radius: .5em;
  transition: all .3s ease-out;
  font-size: 12px;
}

.lista a:hover{
  background: whitesmoke;
  color: #2b2a2a;
  border: 2.5px solid #2b2a2a;
}

.lista a:hover:before{
  transform: rotate(360deg);
  background: whitesmoke ;
  border: 2.5px solid #2b2a2a;
}

.lista a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #2b2a2a;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 2.5px solid whitesmoke;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.ext {
  padding: 1%;
}

.int {
  margin-left: 1%;
  padding: 1%;
}

h3.h {
  font-size: 20px;
}

h4.h {
  font-size: 15px;
}