* {
  margin: 0%;
  padding: 0%;
  font-family: monospace;
  color: whitesmoke;
}

body {
  background-color: #2b2a2a;
}

#banner {
  text-align: center;
  height: 20%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#menu {
  height: 10%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.categoria {
  height: 70%;
  width: 15%;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.categoria:hover {
  background-color: whitesmoke;
  color: #2b2a2a;
}

#contenido {
  height: 70%;
  width: 100%;
}

.tema {
  width: 100%;
  height: 100%;
  display: none;
}


